<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>海底捞</title>
    <link href="https://cdn.staticfile.org/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/5.11.2/css/brands.min.css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body>
<div class="container" id="app">
    <div class="letterBox" style="width: 100px; float:left;" >
        <div class="letter" v-for="(item, index) in letterList" @click.stop="letterSelect(item, index)">{{item}}</div>
        <input type="hidden" name="letterChoose" v-model="letterChoose">
    </div>


    <div style="width: 100px; float:left;">地市</div>
    <div class="cityBox" style="width: 400px; padding:10px; float:left;">
        <div class="cityChoose" v-on:click.stop="cityDown">
<!--            <i class="icon icon_arrowDown"></i>-->
            <p title="请选择">{{cityName}}</p>
            <input type="hidden" name="cityId" v-model="cityId">
        </div>
        <div class="cityList" v-show="isCityShow" style="max-height: 240px; width: 398px; display: block;">
            <div class="city" v-for="(item, index) in cityList" @click.stop="citySelect(item, index)">{{item.value}}
            </div>
        </div>
    </div>

    <div style="width: 100px; float:left;">店铺</div>

    <div class="storeList" v-show="isStoreShow" style="max-height: 240px; width: 398px; display: block;float:left;">
        <div class="store" v-for="(item, index) in storeList">{{item.storeName}} -  {{item.storeId}} </div>
    </div>

</div>
<script src="https://cdn.staticfile.org/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.staticfile.org/moment.js/2.24.0/locale/zh-cn.js"></script>
<script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
<script type="text/javascript">

    function detectOS() {
        let isWin = (navigator.platform === "Win32") || (navigator.platform === "Windows");
        if (isWin) return 'Windows';
        let isMac = (navigator.platform === "Mac68K") || (navigator.platform === "MacPPC") || (navigator.platform === "Macintosh") || (navigator.platform === "MacIntel");
        if (isMac) return "MacOS";
        let isLinux = (String(navigator.platform).indexOf("Linux") > -1);
        if (isLinux) return "Linux";
        return "other";
    }

    const $http = axios.create({
        timeout: 3000
    });

    let $app = new Vue({
        el: '#app',
        data: {
            OSType: detectOS(),
            letterList: [],
            letterChoose: '',
            cityList: [],
            isCityShow: false,
            cityName:'请选择',
            cityId: 0,
            storeList: [],
            isStoreShow: true
        },
        filters: {
            upper: function (value) {
                return value.toUpperCase()
            },
            lower: function (value) {
                return value.toLowerCase()
            }
        },
        methods: {
            letterSelect(item, index){
                this.cityName='请选择';
                this.cityList=[];
                this.letterChoose = item;
                this.getCity();
            },
            cityDown() {
                this.isCityShow = !this.isCityShow;
            },
            citySelect(item, index) {
                this.isCityShow = false;
                console.log(item);
                console.log(index);
                this.cityId = item.key;
                this.cityName = item.value;
                this.getStoreListByCityId();
            },
            getCity: function () {
                $http.get("/getCityList")
                    .then(response => {
                        console.log(response);

                        let letterMap = response.data;
                        console.log(letterMap);

                        for(let letter in letterMap){
                            // this.cityList.push({key: letter,value:letter});
                            if ( this.letterList.indexOf(letter) == -1){
                                this.letterList.push(letter);
                            }
                            for (let city of letterMap[letter]) {
                                if(this.letterChoose && letter == this.letterChoose){
                                    this.cityList.push({key: city["cityId"],value:city["cityName"]});
                                }
                            }
                        }
                        console.log(this.dataList);
                    })
            },
            getStoreListByCityId: function () {
                $http.post('/getStoreListByCityId',{cityId:this.cityId})
                     .then(reponse => {
                         debugger
                         console.log(reponse);
                         this.storeList = reponse.data;
                         console.log(this.storeList);

                     })
            }
        },
        created: function () {
            this.getCity()
        },
        destroyed: function () {
        }
    })
</script>
</body>
</html>